In [0]:
data = [
    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)
]
columns = ["Emp_id","Name","Dept","UnitsSold","UnitPrice"]
df = spark.createDataFrame(data,columns)
df.show()

+------+------+---------+---------+---------+
|Emp_id|  Name|     Dept|UnitsSold|UnitPrice|
+------+------+---------+---------+---------+
|  E101|  Amit|    Sales|       10|     1200|
|  E102| Sneha|Marketing|        8|     1500|
|  E103|  Ravi|    Sales|       12|     1300|
|  E104|Anjali|       HR|        7|     1100|
|  E105|   Raj|    Sales|        5|     1000|
+------+------+---------+---------+---------+

In [0]:
df.write.mode("overwrite").option("header","true").csv("/tmp/employees_csv")
df.write.mode("overwrite").json("/tmp/employees_json")
df.write.mode("overwrite").parquet("/tmp/employees_parquet")

In [0]:
df_csv = spark.read.option("header","true").csv("/tmp/employees_csv")
df_csv.show()
df_json = spark.read.json("/tmp/employees_json")
df_json.show()
df_parquet = spark.read.parquet("/tmp/employees_parquet")
df_parquet.show()

+------+------+---------+---------+---------+
|Emp_id|  Name|     Dept|UnitsSold|UnitPrice|
+------+------+---------+---------+---------+
|  E102| Sneha|Marketing|        8|     1500|
|  E101|  Amit|    Sales|       10|     1200|
|  E103|  Ravi|    Sales|       12|     1300|
|  E104|Anjali|       HR|        7|     1100|
|  E105|   Raj|    Sales|        5|     1000|
+------+------+---------+---------+---------+

+---------+------+------+---------+---------+
|     Dept|Emp_id|  Name|UnitPrice|UnitsSold|
+---------+------+------+---------+---------+
|Marketing|  E102| Sneha|     1500|        8|
|    Sales|  E101|  Amit|     1200|       10|
|    Sales|  E103|  Ravi|     1300|       12|
|       HR|  E104|Anjali|     1100|        7|
|    Sales|  E105|   Raj|     1000|        5|
+---------+------+------+---------+---------+

+------+------+---------+---------+---------+
|Emp_id|  Name|     Dept|UnitsSold|UnitPrice|
+------+------+---------+---------+---------+
|  E102| Sneha|Marketing|        8|     1500|
|  E101|  Amit|    Sales|       10|     1200|
|  E103|  Ravi|    Sales|       12|     1300|
|  E104|Anjali|       HR|        7|     1100|
|  E105|   Raj|    Sales|        5|     1000|
+------+------+---------+---------+---------+

#EXERCISE

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Product Analysis").getOrCreate()
dataa = [
    (101, "Laptop", "Electronics", 55000, 10),
    (102, "Smartphone", "Electronics", 30000, 25),
    (103, "Chair", "Furniture", 2500, 50),
    (104, "Book", "Stationery", 400, 200),
    (105, "Headphones", "Electronics", 1500, 100),
    (106, "Table", "Furniture", 3200, 40),
    (107, "Pen", "Stationery", 20, 500),
    (108, "Monitor", "Electronics", 12000, 15),
    (109, "Notebook", "Stationery", 60, 300),
    (110, "Sofa", "Furniture", 45000, 5)
]

columns = ["product_id", "product_name", "category", "price", "quantity"]
df_new = spark.createDataFrame(dataa, columns)
df_new.show()
df_new.write.mode("overwrite").option("header",True).csv("dbfs:/tmp/product_csv")
df_new.write.mode("overwrite").json("dbfs:/tmp/product_json")

+----------+------------+-----------+-----+--------+
|product_id|product_name|   category|price|quantity|
+----------+------------+-----------+-----+--------+
|       101|      Laptop|Electronics|55000|      10|
|       102|  Smartphone|Electronics|30000|      25|
|       103|       Chair|  Furniture| 2500|      50|
|       104|        Book| Stationery|  400|     200|
|       105|  Headphones|Electronics| 1500|     100|
|       106|       Table|  Furniture| 3200|      40|
|       107|         Pen| Stationery|   20|     500|
|       108|     Monitor|Electronics|12000|      15|
|       109|    Notebook| Stationery|   60|     300|
|       110|        Sofa|  Furniture|45000|       5|
+----------+------------+-----------+-----+--------+

Read the above data from CSV into a DataFrame and print the schema.

In [0]:
print("CSV")
csv = spark.read.option("header",True).csv("dbfs:/tmp/product_csv")
csv.printSchema()
csv.show()

CSV
root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: string (nullable = true)
 |-- quantity: string (nullable = true)

+----------+------------+-----------+-----+--------+
|product_id|product_name|   category|price|quantity|
+----------+------------+-----------+-----+--------+
|       104|        Book| Stationery|  400|     200|
|       105|  Headphones|Electronics| 1500|     100|
|       109|    Notebook| Stationery|   60|     300|
|       110|        Sofa|  Furniture|45000|       5|
|       102|  Smartphone|Electronics|30000|      25|
|       108|     Monitor|Electronics|12000|      15|
|       101|      Laptop|Electronics|55000|      10|
|       103|       Chair|  Furniture| 2500|      50|
|       106|       Table|  Furniture| 3200|      40|
|       107|         Pen| Stationery|   20|     500|
+----------+------------+-----------+-----+--------+

Read the same data from JSON and compare with the CSV schema. Any differences?

In [0]:
print("JSON")
json = spark.read.json("dbfs:/tmp/product_json")
json.printSchema()
json.show()

JSON
root
 |-- category: string (nullable = true)
 |-- price: long (nullable = true)
 |-- product_id: long (nullable = true)
 |-- product_name: string (nullable = true)
 |-- quantity: long (nullable = true)

+-----------+-----+----------+------------+--------+
|   category|price|product_id|product_name|quantity|
+-----------+-----+----------+------------+--------+
| Stationery|  400|       104|        Book|     200|
|Electronics| 1500|       105|  Headphones|     100|
| Stationery|   60|       109|    Notebook|     300|
|  Furniture|45000|       110|        Sofa|       5|
|Electronics|30000|       102|  Smartphone|      25|
|Electronics|12000|       108|     Monitor|      15|
|Electronics|55000|       101|      Laptop|      10|
|  Furniture| 2500|       103|       Chair|      50|
|  Furniture| 3200|       106|       Table|      40|
| Stationery|   20|       107|         Pen|     500|
+-----------+-----+----------+------------+--------+

In [0]:
print("Schemas Equal?", csv.schema == json.schema)

Schemas Equal? False

Convert the CSV data into Parquet format and save to disk.

In [0]:
csv.write.mode("overwrite").parquet("dbfs:/tmp/product_parquet")
parquet = spark.read.parquet("dbfs:/tmp/product_parquet")
parquet.show()

+----------+------------+-----------+-----+--------+
|product_id|product_name|   category|price|quantity|
+----------+------------+-----------+-----+--------+
|       104|        Book| Stationery|  400|     200|
|       105|  Headphones|Electronics| 1500|     100|
|       109|    Notebook| Stationery|   60|     300|
|       110|        Sofa|  Furniture|45000|       5|
|       102|  Smartphone|Electronics|30000|      25|
|       106|       Table|  Furniture| 3200|      40|
|       107|         Pen| Stationery|   20|     500|
|       108|     Monitor|Electronics|12000|      15|
|       101|      Laptop|Electronics|55000|      10|
|       103|       Chair|  Furniture| 2500|      50|
+----------+------------+-----------+-----+--------+

Measure the size of CSV vs JSON vs Parquet on disk. Which one is smallest?

In [0]:
csv_files = dbutils.fs.ls("dbfs:/tmp/product_csv")
csv_data_size = sum(
    f.size for f in csv_files if f.name.startswith("part-") and f.name.endswith(".csv")
)
print(f"Total CSV data size: {csv_data_size} bytes")

json_files = dbutils.fs.ls("dbfs:/tmp/product_json")
json_data_size = sum(
    f.size for f in json_files if f.name.startswith("part-") and f.name.endswith(".json")
)
print(f"Total JSON data size: {json_data_size} bytes")

parquet_files = dbutils.fs.ls("dbfs:/tmp/product_parquet")
parquet_data_size = sum(
    f.size for f in parquet_files if f.name.startswith("part-") and f.name.endswith(".parquet")
)
print(f"Parquet size: {parquet_data_size} bytes")
smallest = min([
    ("CSV", csv_data_size),
    ("JSON", json_data_size),
    ("Parquet", parquet_data_size)
], key=lambda x: x[1])

print(f"\nSmallest format: {smallest[0]} with {smallest[1]} bytes")

Total CSV data size: 689 bytes
Total JSON data size: 945 bytes
Parquet size: 11642 bytes

Smallest format: CSV with 689 bytes

Add a column total_revenue = price * quantity for each record.

In [0]:
from pyspark.sql.functions import col
df_new = df_new.withColumn("total_revenue",col("price")*col("quantity"))
df_new.show()

+----------+------------+-----------+-----+--------+-------------+
|product_id|product_name|   category|price|quantity|total_revenue|
+----------+------------+-----------+-----+--------+-------------+
|       101|      Laptop|Electronics|55000|      10|       550000|
|       102|  Smartphone|Electronics|30000|      25|       750000|
|       103|       Chair|  Furniture| 2500|      50|       125000|
|       104|        Book| Stationery|  400|     200|        80000|
|       105|  Headphones|Electronics| 1500|     100|       150000|
|       106|       Table|  Furniture| 3200|      40|       128000|
|       107|         Pen| Stationery|   20|     500|        10000|
|       108|     Monitor|Electronics|12000|      15|       180000|
|       109|    Notebook| Stationery|   60|     300|        18000|
|       110|        Sofa|  Furniture|45000|       5|       225000|
+----------+------------+-----------+-----+--------+-------------+

Find the top 3 products with the highest total revenue.

In [0]:
filtered = df_new.orderBy("total_revenue",ascending = False).limit(3)
filtered.show()

+----------+------------+-----------+-----+--------+-------------+
|product_id|product_name|   category|price|quantity|total_revenue|
+----------+------------+-----------+-----+--------+-------------+
|       102|  Smartphone|Electronics|30000|      25|       750000|
|       101|      Laptop|Electronics|55000|      10|       550000|
|       110|        Sofa|  Furniture|45000|       5|       225000|
+----------+------------+-----------+-----+--------+-------------+

Filter and display only Furniture products with price > 3000.

In [0]:
furniture = df_new.filter((col("category")=="Furniture")&(col("price")>3000))
furniture.show()

+----------+------------+---------+-----+--------+-------------+
|product_id|product_name| category|price|quantity|total_revenue|
+----------+------------+---------+-----+--------+-------------+
|       106|       Table|Furniture| 3200|      40|       128000|
|       110|        Sofa|Furniture|45000|       5|       225000|
+----------+------------+---------+-----+--------+-------------+

Create a new column price_band with values:
'High' if price > 10000
'Medium' if 3000 < price <= 10000
'Low' if price ≤ 3000

In [0]:
from pyspark.sql.functions import when
df_new = df_new.withColumn("price_band",
                           when(col("price")>10000,"High")
                           .when((col("price")>3000)&(col("price")<=10000),"Medium")
                           .otherwise("Low"))
df_new.show()

+----------+------------+-----------+-----+--------+-------------+----------+
|product_id|product_name|   category|price|quantity|total_revenue|price_band|
+----------+------------+-----------+-----+--------+-------------+----------+
|       101|      Laptop|Electronics|55000|      10|       550000|      High|
|       102|  Smartphone|Electronics|30000|      25|       750000|      High|
|       103|       Chair|  Furniture| 2500|      50|       125000|       Low|
|       104|        Book| Stationery|  400|     200|        80000|       Low|
|       105|  Headphones|Electronics| 1500|     100|       150000|       Low|
|       106|       Table|  Furniture| 3200|      40|       128000|    Medium|
|       107|         Pen| Stationery|   20|     500|        10000|       Low|
|       108|     Monitor|Electronics|12000|      15|       180000|      High|
|       109|    Notebook| Stationery|   60|     300|        18000|       Low|
|       110|        Sofa|  Furniture|45000|       5|       225000|      High|
+----------+------------+-----------+-----+--------+-------------+----------+

Group by category and calculate total quantity sold.

In [0]:
from pyspark.sql.functions import sum
df_new.groupBy(col("category")).agg(sum("quantity").alias("total")).show()

+-----------+-----+
|   category|total|
+-----------+-----+
|Electronics|  150|
|  Furniture|   95|
| Stationery| 1000|
+-----------+-----+

Calculate average price of products for each category.

In [0]:
from pyspark.sql.functions import avg
df_new.groupBy(col("category")).agg(avg("price").alias("average")).show()

+-----------+-------+
|   category|average|
+-----------+-------+
|Electronics|24625.0|
| Stationery|  160.0|
|  Furniture|16900.0|
+-----------+-------+

Count how many products fall in each price_band

In [0]:
from pyspark.sql.functions import count
df_new.groupBy("price_band").agg(count("*").alias("total_qty")).show()

+----------+---------+
|price_band|total_qty|
+----------+---------+
|      High|        4|
|       Low|        5|
|    Medium|        1|
+----------+---------+

Write the filtered Electronics products (price > 5000) into a Parquet file.

In [0]:
electronics = df_new.filter((col("category")=="Electronics")&(col("price")>5000))
electronics.show()
electronics.write.mode("overwrite").parquet("tmp/electronics_product_parquet")

+----------+------------+-----------+-----+--------+-------------+----------+
|product_id|product_name|   category|price|quantity|total_revenue|price_band|
+----------+------------+-----------+-----+--------+-------------+----------+
|       101|      Laptop|Electronics|55000|      10|       550000|      High|
|       102|  Smartphone|Electronics|30000|      25|       750000|      High|
|       108|     Monitor|Electronics|12000|      15|       180000|      High|
+----------+------------+-----------+-----+--------+-------------+----------+

Write the Stationery products into a JSON file.

In [0]:
stationery = df_new.filter(col("category")=="Stationery")
stationery.show()
stationery.write.mode("overwrite").json("tmp/stationery_product_json")

+----------+------------+----------+-----+--------+-------------+----------+
|product_id|product_name|  category|price|quantity|total_revenue|price_band|
+----------+------------+----------+-----+--------+-------------+----------+
|       104|        Book|Stationery|  400|     200|        80000|       Low|
|       107|         Pen|Stationery|   20|     500|        10000|       Low|
|       109|    Notebook|Stationery|   60|     300|        18000|       Low|
+----------+------------+----------+-----+--------+-------------+----------+

Load Parquet back and run a query to find which category has highest total
revenue.

In [0]:
back_parquet = spark.read.parquet("dbfs:/tmp/product_parquet")
# back_parquet.show()
back_parquet = back_parquet.withColumn("total_revenue",col("price")*col("quantity"))
high_revenue = back_parquet.groupBy(col("category")).agg(sum("total_revenue").alias("total_revenue")).orderBy("total_revenue",ascending = False).limit(1)
high_revenue.show()

+-----------+-------------+
|   category|total_revenue|
+-----------+-------------+
|Electronics|    1630000.0|
+-----------+-------------+

BONUS: Create a temporary view from the DataFrame and run Spark SQL to find all
products with quantity > 100 and price < 1000.

In [0]:
df_new.createOrReplaceTempView("products")
spark.sql("""
          select * 
          from products
          where quantity >100 and price <1000""").show()

+----------+------------+----------+-----+--------+-------------+----------+
|product_id|product_name|  category|price|quantity|total_revenue|price_band|
+----------+------------+----------+-----+--------+-------------+----------+
|       104|        Book|Stationery|  400|     200|        80000|       Low|
|       107|         Pen|Stationery|   20|     500|        10000|       Low|
|       109|    Notebook|Stationery|   60|     300|        18000|       Low|
+----------+------------+----------+-----+--------+-------------+----------+