In [2]:
data = [
    (1, "Alice", "Sales", 80, 1200),
    (2, "Bob", "Marketing", 50, 1500),
    (3, "Carol", "Sales", 75, 1300),
    (4, "Dave", "Sales", 70, 1400),
    (5, "Eve", "HR", 60, 1000)
]

columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]

df = spark.createDataFrame(data, columns)

df.show()

+-----+-----+----------+---------+---------+
|EmpID| Name|Department|UnitsSold|UnitPrice|
+-----+-----+----------+---------+---------+
|    1|Alice|     Sales|       80|     1200|
|    2|  Bob| Marketing|       50|     1500|
|    3|Carol|     Sales|       75|     1300|
|    4| Dave|     Sales|       70|     1400|
|    5|  Eve|        HR|       60|     1000|
+-----+-----+----------+---------+---------+

1. Show total number of employees

In [4]:
cnt = df.count()
print("Total number of employees are ",cnt)

Total number of employees are  5

2. Add new column TotalSales = UnitsSold * UnitPrice

In [5]:
from pyspark.sql.functions import col

df = df.withColumn("TotalSales", col("UnitsSold") * col("UnitPrice"))
df.show()

+-----+-----+----------+---------+---------+----------+
|EmpID| Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+-----+----------+---------+---------+----------+
|    1|Alice|     Sales|       80|     1200|     96000|
|    2|  Bob| Marketing|       50|     1500|     75000|
|    3|Carol|     Sales|       75|     1300|     97500|
|    4| Dave|     Sales|       70|     1400|     98000|
|    5|  Eve|        HR|       60|     1000|     60000|
+-----+-----+----------+---------+---------+----------+

3. Show only Sales department employees with UnitSold > 70

In [6]:
df.filter((col("Department") == "Sales") & (col("UnitsSold") > 70)).show()

+-----+-----+----------+---------+---------+----------+
|EmpID| Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+-----+----------+---------+---------+----------+
|    1|Alice|     Sales|       80|     1200|     96000|
|    3|Carol|     Sales|       75|     1300|     97500|
+-----+-----+----------+---------+---------+----------+

4. Find the employee with the highest total sales

In [7]:
df.orderBy(col("TotalSales").desc()).limit(1).show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
|    4|Dave|     Sales|       70|     1400|     98000|
+-----+----+----------+---------+---------+----------+

5. Sort employees by TotalSales in descending order

In [8]:
df.orderBy(col("TotalSales").desc()).show()

+-----+-----+----------+---------+---------+----------+
|EmpID| Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+-----+----------+---------+---------+----------+
|    4| Dave|     Sales|       70|     1400|     98000|
|    3|Carol|     Sales|       75|     1300|     97500|
|    1|Alice|     Sales|       80|     1200|     96000|
|    2|  Bob| Marketing|       50|     1500|     75000|
|    5|  Eve|        HR|       60|     1000|     60000|
+-----+-----+----------+---------+---------+----------+